
.head{
    width:  calc(100% - 5rem);
    margin-left: 5.5rem;
    z-index: 1;
    transition:  all .5s ease;    
    padding: 1.3rem 1.5rem 0 1.3rem;
    position: fixed;
    top: 0;
    .head-content{
        background-color: #98D936;
        border-radius: 0.625rem;
        box-shadow: 0 .25rem .5rem #c2c2c3;
        //box-shadow:  0px 0px 10px 0 rgb(34 41 47 / 10% );
        padding: 0.813rem 1.563rem;
        display:flex;
        align-items: center;
        justify-content: space-between;

        .head-content-left{
            .search-container{
                position: relative;

                .normal-search{
                    .search{
                        border: none ;
                        height: 2.375rem;
                        padding-left: 2.5rem;
                        padding-right: 1.25rem;
                        
                        box-shadow: none;
                        border-radius:  1.4rem;
                        outline: 0;
                    }
                    .search-icon{
                        position: absolute;
                        font-size:  1rem;
                        line-height: 2.375rem;
                        left: 0.813rem;
                        top: 0;
                        color: #01261C ;
                    }

                }
                .search-menu-btn{
                    font-size: 18px;
                    height: 42px;
                    width: 42px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    outline: 0;
                    
                    color: #01261C;           
                }

                .search-menu-btn:hover,
                .search-menu-btn:focus{
                    .search-icon{
                        color: #4ABF2A
                        
                 }
                }
            }
        }
        .head-content-right{
            display:flex;
            align-items: center;

            .head-menu{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1.25rem;

                .head-menu-item{
                    .head-menu-item-btn{
                        font-size: 18px;
                        height: 42px;
                        width: 42px;
                        cursor: pointer;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-left: 5px;
                        outline: 0;
                        color: #01261C;
                        
                        

                        .flag{
                            height: 17px;
                            border-radius: 3px;
                            margin-top: 2px;

                        }
                    }
                }

                .head-menu-item-btn:hover,
                .head-menu-item-btn:focus{
                   background: #4ABF2A;
                   .menu-icon{
                       color: #F2ECE4;
                   }
                }
            }

            .head-user-avatar-container{
              margin-left: 20px;
              .head-user-avatar{
                  position: relative;
                .user-avatar{
                    margin-bottom: -4px;
                    width: 50px;
                    border-radius: 10px;
                    box-shadow:  0 0 15px rgb(35 35 35 / 15%);
                    cursor: pointer;
                }
              }

              .circle-indicator{
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  position: absolute;
                  top: -2px;
                  right: -3px;
                  background: #699dfa ;

                  &.pulse{
                      animation: pulse-animation 1.2s infinite;

                  }
              }
            }
        }
    }
}

.head-trimmed{
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.head-md-screen{

    width: calc(100% - 5rem);
    margin-left: 6rem;
}

@keyframes  pulse-animation {
    0%{
        box-shadow: 0 0 0 0 rgb(26 , 104, 206 , 0.6);
    }
    100%{
        box-shadow: 0 0 0 13px rgb(17 , 64, 126 , 0);
    }
}


@keyframes fall {
    0%{
        transform:  scaleY(0);
    
    }
    100%{
        transform: scaleY(1);
    }   
}

.overlay{
    background: #01261C;
    margin-top: 12px ;
    box-shadow:  0 1rem 3rem rgb(0 0 0 / 18%); 
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;    
}


.overlay-fall{
  animation: fall 300ms ease-in-out forwards;
  transform-origin: top center;
}
.overlay-search{

    padding: 1rem;
    display: flex;
    .search{
        padding: 0.47rem 0.75rem;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #01261C;
        background-clip: padding-box;
        border: 1px solid;
        outline: none;
        border-radius: 0.7rem;
    }
    .search-btn{
        
        cursor: pointer;
        border: 1px solid transparent;
        background-color:#98D936;
        outline: 0; 
        padding: 0.47rem 0.75rem;           
        color:#fff; 
        border-radius: 0.7rem;

    }

}

.overlay-languages{
    padding: 0.5rem 0 ; 
    ul{
        list-style: none;
        width: 10rem;
        li{
            padding: 0.35rem 1.5rem;
            font-size: 14px;
            font-weight: 400;
            color: #F2ECE4;
            cursor: pointer;
            img{
                margin-right: 0.6rem;
                height: 12px;
            }
        }
        li:hover{
            background: #4ABF2A;
        }
    }
}