*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 90px 20px 0;
    background-color: #F2ECE4;
}

.header-nav {
    background-color: #98D936;
    height: 80 ;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}

.nav{
 display: flex;
 justify-content: space-between;
 max-width: 992px;
 margin: 0 10px;

}

.nav-link{
    color: #F2ECE4;
    text-decoration: none;
}

.logo{
    font-weight: bold;
    cursor: pointer;
    line-height: 50px;
}

.main-logo{
    width: 70px;
    height: 60px;
    text-align: center;
    display: flex;

}

.nav-menu{
    display:flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    
    margin: 0 5px ;
    line-height: 50px;
    text-transform: uppercase;
    width:max-content;
}



.nav-menu-item{
    width: 178;
    height: 42;
    padding: 20 10px ;
    margin-left: px;
   

}

.btn-nav{
    color: #F2ECE4;
    text-decoration: none;
    width: max-content;
    height: 20;
    padding: 20px 25px ;
    background: #4abf2a;
    margin-top: 20px;
    margin-left: 15px;
    border-color: rgb(74, 191, 42,1);
    border: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    line-height: 5px;
    text-transform: uppercase;
    transition:all 0.3 ease 0s;
    

}
.btn-nav:hover,
.btn-nav_active{
    background-color: #01261C ;
    transition:all 0.3 ease 0s;
}


.btn-log{
    color: #01261C;
    text-decoration: none;
    width: max-content;
    height: 0;  
    padding: 20px 25px ;
    background: #A7F2E4;
    margin-top: 15px;
    margin-left: 5px;
    border-color: rgb(74, 191, 42,1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    line-height: 5px;
    text-transform: uppercase;
    transition:all 0.3 ease 0s;

}
.btn-log:hover,
.btn-nav_active{
    color: #F2ECE4;
    background-color: #01261C ;
    transition:all 0.3 ease 0s;
}

.btn-crt{
    color: #F2ECE4;
    text-decoration: none;
    width: max-content;
    height: 0;  
    padding: 20px 25px ;
    background: #4abf2a;
    margin-top: 15px;
    margin-left: 5px;
    border-color: rgb(74, 191, 42,1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    line-height: 5px;
    text-transform: uppercase;
    transition:all 0.3 ease 0s;

}

.btn-crt:hover,
.btn-nav_active{
    background-color: #01261C ;
    transition:all 0.3 ease 0s;
}

.nav-toggle{
    color: #F2ECE4;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60;

    display: none;

}

.img-hero{
    
}

