<h1>Productos</h1>

<mat-card class="mat-cd-container">

    <mat-card-header class="mat-cd-header">
        <i class="mat-cd-logo-container">
            <img src="assets/full-logo.png" alt="" class="logo-main">
        </i>     
    </mat-card-header>

    <mat-card-content class="mt-cd-cont-container">
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Company" formControlName="company">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Company" formControlName="company">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Company" formControlName="company">
              </mat-form-field>
            </div>
          </div>
        

    </mat-card-content>
    <mat-card-actions class="mat-btn-container">
      <div class="mat-btn-item">
        <button class="btn-send">
            Enviar
        </button>
      </div> 
      <div class="mat-btn-item">
        <button class="btn-cancel">
            Cancelar
        </button>
      </div>
        
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>



